<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a href="#" class="navbar-brand">Testing</a>
  </div>
  <ul class="navbar navbar-nav">
   <div *ngIf="(user|async)?.uid"><button mat-raised-button color="primary" (click)="openUpload()">Upload</button>
  </div>
  </ul>
<ul class="nav navbar-nav navbar-right">
    <li *ngIf="!(user|async)?.uid"><a routerLink="/login" class="text-dark">Log In</a></li>
    <li *ngIf="(user|async)?.uid"><a href="#" (click)="logOut()" class="text-dark">Log Out</a></li>
  </ul>
  </div>
</nav>

